<!-- position:fixed, so it loads in the users view, but overflow:scroll, so they can still scroll -->
<div style="z-index:9999;position:fixed;overflow:scroll;background:rgba( 0, 0, 0, 0.8 );width:100%;height:100%">
    <div width="100%">
        <a href="" ng-click="modal.closeModal()"
           style="text-align:center;text-decoration: none;
           color:#ffffff; margin-left:1em;top:3.5em;position:relative">Close Image</a>
    </div>
    <div>
        <!-- TODO: the value is stuck on "loading" for tech cat, and just not there for others -->
        <!--<a ng-href="data:application/octect-stream;base64,{{user_info.itemCache[modalItem.itemLocation]}}">-->
        <img style="position:relative;margin-top:4em;margin-left:1em;margin-right:1em;max-width:90%;max-height:90%"
             ng-if="modalImage.imageData"
             src="data:image/jpeg;base64,{{modalImage.imageData}}"
             alt="{{modalImage.altText}}">
        <!--</a>-->
        <div style="color:#ffffff; margin-left:6em;margin-top:4.5em"
             ng-if="!modalImage.imageData">
            Loading Image...
        </div>
    </div>
</div>