<div class="app-content">
    <div ng-if="!device-login">
        Login to your devices
        <form name="DeviceLogin" ng-submit="submitDeviceLogin(credentials)" novalidate>
            <label for="device_user">Device Login</label>
            <input id="device_user" type="text" ng-model="credentials.deviceUser" required /><br/>
            <label for="device_password">Device Password</label>
            <input id="device_password" type="password" ng-model="credentials.devicePassword" required /><br/>
            <button type="submit" ng-disabled="DeviceLogin.$invalid" class="submit-button">
                Login
            </button><br/>
        </form>
    </div>
    <div ng-if="device-login">
        <!-- use credentials to send command to MQTT -->
    </div>
</div>