<!--
Angular template for the login page
-->
<div ng-if="user_info.user_name">
    <!--login code: {{user_info.auth_code}}<br/>
    <session state: {{user_info.session_state}}<br/>
    login data: {{user_info.access_token}}<br/>
    login id (as jwt): {{user_info.id_token}}<br/>
    login id (jwt header): {{user_info.id_token_header}}<br/>
    login id (jwt signature): {{user_info.id_token_signature}}<br/>
    login id (jwt payload): {{user_info.id_token_payload}}<br/>-->
    Hello {{user_info.user_name}}!<br/>
    <!-- login status: {{user_info.token_expiration}}<br/-->
</div>
