<!--
/**
 * Copyright 2015-2016 Stuart Smith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version. Or under the the Eclipse Public License v1.0
 * as published by the Eclipse Foundation or (per the licensee's choosing)
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * If you modify this Program, or any covered work, by linking or combining
 * it with the paho MQTT client library (or a modified version of that library),
 * containing parts covered by the terms of EPL,
 * the licensors of this Program grant you additional permission to convey the resulting work.
 */
-->

<div ng-if="user_info.user_name">
    <!--login code: {{user_info.auth_code}}<br/>
    <session state: {{user_info.session_state}}<br/>
    login data: {{user_info.access_token}}<br/>
    login id (as jwt): {{user_info.id_token}}<br/>
    login id (jwt header): {{user_info.id_token_header}}<br/>
    login id (jwt signature): {{user_info.id_token_signature}}<br/>
    login id (jwt payload): {{user_info.id_token_payload}}<br/>-->
    Hello {{user_info.user_name}}!<br/>
    <!-- login status: {{user_info.token_expiration}}<br/-->
</div>
