<!--
Angular template for the login page
-->
<div class="app-content">
    <label id="current-user"></label><br/>
    Login with Gmail directly from this site:
    <form name="OauthPasswordFlowLogin" ng-submit="submitLogin(credentials)" novalidate>
        <label for="gmail_email">Gmail email</label>
        <input id="gmail_email" type="text" ng-model="credentials.username" required /><br/>
        <label for="gmail_password">Gmail password</label>
        <input id="gmail_password" type="password" ng-model="credentials.password" required /><br/>
        <button type="submit" ng-disabled="OauthPasswordFlowLogin.$invalid" class="submit-button">
            Login
        </button><br/>
    </form>
    <hr width="100%" size="0.3em">
    Login with Gmail via Google:<br/>
    (This site will never see your credentials)
    <form method="GET" action="https://accounts.google.com/o/oauth2/auth">
        <input type="hidden" name="client_id" value="726837865357-tqs20u6luqc9oav1bp3vb8ndgavjnrkf.apps.googleusercontent.com"/>
        <input type="hidden" name="response_type" value="code"/>
        <input type="hidden" name="scope" value="openid email"/>
        <input type="hidden" name="redirect_uri" value="https://www.shareplaylearn.com/api/oauth2callback"/>
        <!-- generate a random number for this session and save in session state - this can be recovered by the browser js
             code when the redirect comes back from the servlet-->
        <input type="hidden" name="state" value="insecure_test_token"/>
        <input type="submit" value="Log in with Google" class="submit-button"/>
    </form>
    <br/>

</div>
