<!--
* Copyright 2015-2016 Stuart Smith
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
*
* If you modify this Program, or any covered work, by linking or combining
* it with the paho MQTT client library (or a modified version of that library),
* containing parts covered by the terms of EPL,
* the licensors of this Program grant you additional permission to convey the resulting work.
-->

<div class="app-content">
    <label id="current-user"></label><br/>
    Login with Gmail directly from this site:
    <form name="OauthPasswordFlowLogin" ng-submit="submitLogin(credentials)" novalidate>
        <label for="gmail_email">Gmail email</label>
        <input id="gmail_email" type="text" ng-model="credentials.username" required /><br/>
        <label for="gmail_password">Gmail password</label>
        <input id="gmail_password" type="password" ng-model="credentials.password" required /><br/>
        <button type="submit" ng-disabled="OauthPasswordFlowLogin.$invalid" class="submit-button">
            Login
        </button><br/>
    </form>
    <hr width="100%" size="0.3em">
    Login with Gmail via Google:<br/>
    (This site will never see your credentials)
    <form method="GET" action="https://accounts.google.com/o/oauth2/auth">
        <input type="hidden" name="client_id" value="726837865357-tqs20u6luqc9oav1bp3vb8ndgavjnrkf.apps.googleusercontent.com"/>
        <input type="hidden" name="response_type" value="code"/>
        <input type="hidden" name="scope" value="openid email"/>
        <input type="hidden" name="redirect_uri" value="https://www.shareplaylearn.com/api/oauth2callback"/>
        <!-- generate a random number for this session and save in session state - this can be recovered by the browser js
             code when the redirect comes back from the servlet-->
        <input type="hidden" name="state" value="insecure_test_token"/>
        <input type="submit" value="Log in with Google" class="submit-button"/>
    </form>
    <br/>

</div>
