<!--
/**
 * Copyright 2015-2016 Stuart Smith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version. Or under the the Eclipse Public License v1.0
 * as published by the Eclipse Foundation or (per the licensee's choosing)
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * If you modify this Program, or any covered work, by linking or combining
 * it with the paho MQTT client library (or a modified version of that library),
 * containing parts covered by the terms of EPL,
 * the licensors of this Program grant you additional permission to convey the resulting work.
 */
 -->

<div class="app-content" ng-hide="!user_info || !user_info.user_name">

    <span ng-bind="user_info.user_name + '\'s Smart Items'"></span><br/>
    <ol>
        <br/>
        <div id="hubController">
            <span ng-bind="user_info.user_name + '\'s Smart Item Hub'"></span><br/>

            <label for="hubUser">Hub User:</label>
            <input type="text" id="hubUser" ng-model="hub.user"> <br/>

            <label for="hubPassword">Hub Password:</label>
            <input type="text" id="hubPassword" ng-model="hub.password"> <br/>

            <label for="hubCommand">Hub Command:</label>
            <input type="text" id="hubCommand" ng-model="hub.command"><br/>

            <button id="hubControllerButton" ng-click="sendHubCommand()">Send Command</button>
        </div>
    </ol>

    <span ng-bind="user_info.user_name + '\'s Saved Files'"></span><br/>
    <ol>
        <br/>
        <div ng-repeat="item in user_info.itemList" class="itemlist">
            <a href="" ng-click="openImageModal(item)" ng-if="item.type==='image'">
                <img
                     src="data:image/jpeg;base64,{{user_info.previewCache[item.previewLocation.fullPath]}}"
                     ng-if="item.previewLocation"
                     alt="{{item.attr.altText}}"
                >
                <div ng-if="!item.previewLocation">
                    <!-- TODO: add item.name to API -->
                    No Image Preview Available
                </div>
            </a>
            <div ng-if="item.type!=='image'">
                <a download="{{ item.itemLocation.substring(
                                    item.itemLocation.lastIndexOf('/') + 1
                                 ) }}"
                   ng-href="data:application/octect-stream;base64,{{user_info.itemCache[item.itemLocation]}}">No Preview Available</a>
                <!-- TODO: add item.name to API, implement a way to download unknown types (href with data url)
                     TODO: re-use that to enable download in modal -->
            </div>
        </div>
    </ol>
    <br/>
    <hr width="100%" size="0.3em"/>
    Upload new stuff:
    <!-- Upload File Form - needs much improvement -->
    <form action="file_api/file/form" method="post" enctype="multipart/form-data"
          ng-submit="submitUpload(file_upload,user_info)" novalidate>
        <!--<label for="upload_filename">Save file as:</label>-->
        <!--<input id="upload_filename" type="text" name="filename"
        ng-model="file_upload.filename"/> <br/>-->
        <label for="upload_file_select">Select File:</label>
        <input id="upload_file_select" type="file" name="file"
               ng-model="file_upload.file" class="upload-file-select"/><br/>
        <label for="file_submit">Save File:</label>
        <input type="submit" value="Upload" id="file_submit" class="submit-button"/> <br/>
        <input type="hidden" name="user_id" value="{{user_info.user_id}}"
               ng-model="user_info.user_id"/>
        <!-- TODO: figure out email/name mismatch between UI and API -->
        <input type="hidden" name="user_name" value="{{user_info.user_email}}"
               ng-model="user_info.user_email"/>
        <input type="hidden" name="access_token" value="{{user_info.access_token}}"
               ng-model="user_info.user_id"/>
    </form>
    <div id="file-uploaded" style="display:none;">File Uploaded :)</div>

</div>
<div class="app-content" ng-show="(!user_info || !user_info.user_name) && !loggingIn">
    Please login in to share
</div>
