<div class="app-content" ng-hide="!user_info || !user_info.user_name">

    <span ng-bind="user_info.user_name + '\'s stuff'"></span><br/>
    <ol>
        <br/>
        <div ng-repeat="item in user_info.itemList" class="itemlist">
            <!-- TODO: Intercept click to add authorization header, if logged in -->
            <a href="api/file{{item.itemLocation}}">
                <!-- TODO: this is present, but isn't rendering - doesn't even look like base64 ? (and click is 404?)-->
                <img
                     src="data:image/jpeg;base64,{{user_info.previewCache[item.previewLocation]}}"
                     ng-if="item.previewLocation && item.type==='image'"
                     alt="{{item.attr.altText}}"
                >
                <div ng-if="!item.previewLocation">
                    <!-- TODO: add item.name to API -->
                    No Preview Available
                </div>
            </a>
            <!-- FileListItem will usually just have #openModal,
             and then have <div id="openModal" class=modalXXXPopup> </div>
             <a href="/#/share#{{item.onClick}}" ng-click="gotoAnchorHash(item.onClick)" ng-if="item.hasOnClick">
             as display html-->
            <!-- TODO: move display html snippets from backend to frontend -->
            <a href="" ng-click="toggleOpacity(item.onClick,1)" ng-if="item.hasOnClick">
                <div ng-bind-html="item.displayHtml"></div>
            </a>
        </div>
    </ol>
    <br/>
    <hr width="100%" size="0.3em"/>
    Upload new stuff:
    <!-- Upload File Form - needs much improvement -->
    <form action="api/file/form" method="post" enctype="multipart/form-data"
          ng-submit="submitUpload(file_upload,user_info)" novalidate>
        <!--<label for="upload_filename">Save file as:</label>-->
        <!--<input id="upload_filename" type="text" name="filename"
        ng-model="file_upload.filename"/> <br/>-->
        <label for="upload_file_select">Select File:</label>
        <input id="upload_file_select" type="file" name="file"
               ng-model="file_upload.file" class="upload-file-select"/><br/>
        <label for="file_submit">Save File:</label>
        <input type="submit" value="Upload" id="file_submit" class="submit-button"/> <br/>
        <input type="hidden" name="user_id" value="{{user_info.user_id}}"
               ng-model="user_info.user_id"/>
        <!-- TODO: figure out email/name mismatch between UI and API -->
        <input type="hidden" name="user_name" value="{{user_info.user_email}}"
               ng-model="user_info.user_email"/>
        <input type="hidden" name="access_token" value="{{user_info.access_token}}"
               ng-model="user_info.user_id"/>
    </form>
    <div id="file-uploaded" style="display:none;">File Uploaded :)</div>

</div>
<!--<div class="app-content" ng-show="!user_info || !user_info.user_name">-->
    <!--Please login in to share-->
<!--</div>-->
